main.aux
main.fdb_latexmk
main.fls
main.log
main.synctex.gz
main.out
main.toc
main.out
tickets.aux
tickets.fdb_latexmk
tickets.fls
tickets.log
tickets.synctex.gz
tickets.out
tickets.toc
homogeneous_linear_equations_with_constant_coefficients.aux
inhomogeneous_linear_equations_with_constant_coefficients.aux