lectures.aux
lectures.fdb_latexmk
lectures.fls
lectures.log
lectures.synctex.gz
tickets.aux
tickets.fdb_latexmk
tickets.fls
tickets.log
tickets.synctex.gz
tickets.out
tickets.toc
lectures.out
lectures.toc